parameters:
    phpVersion: 80300
    level: 5
    configDirectories:
            - config
    paths:
        - src
        - config
        - database
    parallel:
        maximumNumberOfProcesses: 4
